<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>to do</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	<div id="toDoList">
		<h1 class="title">{{title}}</h1>
		<div class="forAddItems">
			<input type="text" autocomplete="off" placeholder="What else to add?" v-model="tasks.name" @keyup.enter="newItem" class="make"/>
			<input type="submit" value="Add" class="btn btn_add" @click="newItem">
		</div>
		<ul class="list">
			<li class="list_item" v-for="task in tasks">
				<label>
					<input type="checkbox">
					<span>{{task.name}}</span>
				</label>
				<span>/</span>
				<span @click="delItem(task)" class="btn">{{task.del}}</span>
			</li>
		</ul>
	</div>
	<script src="vue.js"></script>
	<script>
		new Vue ({
			el: '#toDoList',
			data: {
			title: 'to do list',
			tasks: [
				{
				name: 'drink a cup of coffee',
				del: '-'
				},
				{
				name: 'read a book',
				del: '-'
				},
				{
				name: 'eat pizza',
				del: '-'
				}
			]
			},
			methods: {
				newItem: function() {
					if (!this.tasks.name) {
						return
					}
					this.tasks.push ( {
						name: this.tasks.name,
						del: '-'
					})
				},
				delItem: function (task) {
					this.tasks.splice(this.tasks.indexOf(task), 1)
				}
			}  
		})
	</script>
</body>
</html>